fastapi==0.114.1
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
python-multipart==0.0.9
neo4j==5.23.0
psycopg[binary,pool]==3.2.1
SQLAlchemy==2.0.34
boto3==1.35.23
minio==7.2.7
elasticsearch==8.15.0
paho-mqtt==2.1.0
requests==2.32.3
tenacity==9.0.0
reportlab==4.2.2
PyPDF2==3.0.1
pdfminer.six==20231228
pytesseract==0.3.13
opencv-python-headless==4.10.0.84
google-cloud-vision==3.7.4
google-cloud-documentai==2.26.0
orjson==3.10.7
ruff==0.6.9

